<!-- login.html -->
{% extends 'todoapp/base.html' %}
{% block title %}Login!{% endblock %}

{% block content %}
<div class="login-container">
    <form class="login-form" method="post">
        {% csrf_token %} 
        <h1 style="color: black;">Login</h1>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Login</button>
        <p>アカウントを持っていませんか？</p>
        <a href="{% url 'register' %}">新規作成</a>
    </form>
</div>
{% endblock content %}
