{% extends 'todoapp/base.html' %}
{% block title %}List Task!{% endblock %}

{% block content %}
<div class="TaskList-html">
    <div class="LoginAndLogout">
        {% if user.is_authenticated %}
        Welcome, {{ user.username }}!
        <p><a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
        <p><a href="{% url 'login' %}">Login</a></p>
        {% endif %}
    </div>
    <div>
        <h1 style="color: black;">タスクリスト</h1>
        <h2 style="text-align: left;"><td><a href="{% url 'task_create' %}">タスク追加</a></td></h2>

        <form action="" method="get">
            {% csrf_token %}
            <div>
                <datalist id="conditions">
                    <option value="ID">
                    <option value="TASK NAME"> 
                    <!-- Add more options as needed -->
                </datalist>
                <label for="condition-search">Choose a condition: </label>
                <div class="button-container">
                    <input type="text" name="condition_search" id="condition" list="conditions" placeholder="Type a condition" > 
                </div>  
            </div>
            <div>
                <label for="">Choose a text  : </label>  
                <div class="button-container">
                    <input type="text" name="text_search" value="{{ text_search }}" >
                    <input type="submit" id="searchButton" name="" value="検索">
                </div>  
            </div>
        </form>
        <!-- ポップアップメッセージ -->
    </div>
    <div class="table">
        <div class="row header">
            <div class="ID_Table">ID</div>
            <div class="cell" style="">TASK NAME</div>
            <!-- <div class="cell">内容ホーバ</div> -->
            <div class="cell">Edit</div>
            <div class="cell">Delete</div>
        </div>
        {% for task in TaskList %}
        <div class="row">
            <!-- 初期のボタン -->
            <div class="popup" id="popup_{{ task.id }}"  style="display: none;">{{ task.description }}</div>
            
            <div class="ID_Table">{{ task.id }}</div>
            <div class="cell kakuninButton" style="text-decoration: underline" data-task-id="{{ task.id }}">{{ task.title }}</div>
            <!-- <div class="cell kakuninButton" data-task-id="{{ task.id }}">確認</div> -->
            <div class="cell"><a href="{% url 'task_edit' task.id %}">編集</a></div>
            <div class="cell"><a href="{% url 'task_delete' task.id %}">削除</a></div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}