/* styles.css */

body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: auto;
    bottom: 0;
    width: 100%;
}



/*
login css
*/

.login-container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: white;
}

label {
    margin-top: 10px;
    color: #555;
}

input {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #a21111;
    border-radius: 3px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.popup {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1;
}


.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
  }
.ID_Table {
    flex: 1;
    border: 1px solid #ddd;
    /* border-bottom: 0.5px solid #000;  */
    padding: 8px;
    box-sizing: border-box;
    width: 100px;
}
.row {
    display: flex;
    width: 100%;
    margin-top: 2px;

  }
.row:hover {
    background-color: blanchedalmond;
  }

.cell {
      flex: 1;
      border: 1px solid #ddd;
      /* border-bottom: 0.5px solid #000;  */
      padding: 8px;
      box-sizing: border-box;
    }


    .clear_button {
        background-color: #fff; /* Background color */
        color: #333; /* Text color */
        border: 1px solid #333; /* Border color */
        padding: 8px 16px; /* Padding for better visual */
        cursor: pointer; /* Cursor on hover */
        font-size: 14px; /* Font size */
        border-radius: 4px; /* Rounded corners */
        outline: none; /* Remove default focus outline */
      }
  
      .clear_button:hover {
        background-color: #d71a2a; /* Background color on hover */
      }

      .button-container {
        text-align: left; /* Căn trái */
      }
  
      .custom-button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        text-align: center; /* Thiết lập lại text-align để giữ nút ở giữa */
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
        border: none;
      }

     